# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://outposts_owner:YaOWJBu6fNp2@ep-snowy-voice-a5vuntcb.us-east-2.aws.neon.tech/outposts?sslmode=require
STRIPE_SECRET_KEY=sk_test_51PR1gp2LMlZ1J0KWP8idPK9Atdx1KP7UnWXAMtNLoFVRa4xBfeRdxkkPMk7kyRuQZYAYhAuF6ODKntm2eejB7jRr00hUayWcGo
STRIPE_WEBHOOK_SECRET=
BASE_URL=http://localhost:3000
AUTH_SECRET=openssl rand -base64 32